In [1]:
import pandas as pd
import numpy as np

In [2]:
post = pd.read_csv('feedback_posts.csv')

In [3]:
post.head()

,timestamp,post_id,subject,content,response
0,2024-05-22 09:30:27,1,Data Engineering,bang for your buck,due by end of day
1,2024-05-22 09:30:26,2,TDD,I need a partner,
2,2024-05-22 09:30:25,3,Guided Project,I do not know what to write,include me in the meeting
3,2024-05-22 09:30:24,4,Claim,sorry to bother you,we will present this
4,2024-05-22 09:30:23,5,Personal Insurance,on the same page,happy to help

In [4]:
post.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  1000 non-null   object
 1   post_id    1000 non-null   int64
 2   subject    1000 non-null   object
 3   content    1000 non-null   object
 4   response   1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB